email-schedular.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Schedule Date",
        "formDescription": "Schedule a Date to meeting",
        "formFields": {
          "values": [
            {
              "fieldLabel": "example.gmail.com",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Date",
              "fieldType": "date",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "0edeb83e-373e-40f9-87c6-0dbedeecd19a",
      "name": "On form submission",
      "webhookId": "bd4a3cc4-88fe-4787-8de2-e415d0671f71"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0bee95da-62e4-4fe8-8d9e-cc44452556dd",
              "leftValue": "={{ $json.Date }}",
              "rightValue": "2025-11-14T00:00:00",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        176,
        0
      ],
      "id": "5987975f-9da1-4338-80b2-4c2886ff1ed7",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        400,
        128
      ],
      "id": "cebb5e08-8afd-4de5-a558-3e662f824a3d",
      "name": "lame"
    },
    {
      "parameters": {
        "sendTo": "={{ $json['example.gmail.com'] }}",
        "subject": "Its time for meeting",
        "emailType": "text",
        "message": "Hi their, your meeting with xyz is scheduled today",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        384,
        -48
      ],
      "id": "9f9b45b7-49f0-4210-ad6b-908c65f42711",
      "name": "Send a message",
      "webhookId": "449c6e95-dba3-4cd4-a72f-70069fc8d650",
      "credentials": {
        "gmailOAuth2": {
          "id": "b0NvX2srPNh3gzOB",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "example.gmail.com": "vishwajeet.7t@gmail.com",
          "Date": "2025-11-14",
          "submittedAt": "2025-11-12T10:43:40.191+05:30",
          "formMode": "test"
        }
      }
    ]
  },
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "lame",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lame": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b74ac830-e092-4bad-aaa8-a2fef44ff5d7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c5cc331a8572012c13deaa60c6b28d3e4a0c26f1c01c02978b4f5fbc2c84e2a5"
  },
  "id": "3bmuNCrnSrhcsqKB",
  "tags": []
}